
<div class="team-container">
    <h2>Meet the Team</h2>
    <div class="iframe-container">
      <iframe loading="lazy"
        src="https://www.canva.com/design/DAGMJpsCQYQ/wUoxKluXaI2EBXyfhPcaFg/view?embed"
        allowfullscreen="allowfullscreen" allow="fullscreen">
      </iframe>
    </div>
    <a href="https://www.canva.com/design/DAGMJpsCQYQ/wUoxKluXaI2EBXyfhPcaFg/view?utm_content=DAGMJpsCQYQ&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">Lead of Programming</a> by Luco Meyer
  </div>
  